/* 首页独特样式  or  页面特有的样式 */

.nav {
    height: 30px;
    background: #e3e4e5;
    border-bottom: 1px solid #ddd;
}

.nav-box {
    width: 1190px;
    text-align: right;
}

.nav-box ul li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.nav-box ul li a {
    color: #999999;
    text-decoration: none;
}


/*  导航栏 各个item中间的分割线  */

.nav-box ul li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 14px;
    background: #ccc;
    position: absolute;
    top: 8px;
    right: 0px;
    display: block;
}


/* 手表移动到当前位置显示的样式 */

.nav-box ul li a:hover {
    color: red;
}

.header-box {
    height: 140px;
    background-color: white;
}

.header {
    width: 1190px;
    display: flex;
    margin: 0px auto;
    padding: 10px 0px;
}

.header .logo-box {
    width: 190px;
    height: 120px;
}

.header .search-box {
    width: 790px;
    padding: 0px 10px;
}

.header .search-bar {
    padding: 10px 0px 0px 50px;
    display: flex;
}

.header .recommend {
    font-size: 12px;
    padding: 5px 0px 20px 50px;
}

.header .recommend a {
    color: #999999;
}

.header .recommend .recommenditem {
    color: #e1251b;
}

.header a.item {
    font-weight: bold;
    color: #e1251b;
}

.header a:hover {
    color: #c81623;
}

.search-bar input {
    border: 1px solid #e1251b;
    width: 500px;
    height: 30px;
    padding: 2px 10px;
    /* 去掉默认的内边线 */
    outline: none;
}

.search-bar .search-btn {
    width: 50px;
    height: 34px;
    border: 1px solid #e1251b;
    background: #e1251b;
    /* 鼠标移上去变成小手 */
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
}

.search-bar .iconfont-search {
    font-size: 22px;
    font-weight: bold;
}

.search-bar .cart-btn {
    margin: 0px 0px 0px 20px;
    border: 1px solid #eee;
    height: 34px;
    width: 100px;
    line-height: 34px;
    text-align: center;
    color: #e1251b;
    font-size: 12px;
    cursor: pointer;
}

.search-bar .iconfont-cart {
    font-size: 18px;
    font-weight: bold;
}

.search-box ul li {
    display: inline-block;
    padding: 0px 10px;
}

.search-box ul li a {
    color: #333333;
    text-decoration: none;
}


/* 内容区 */

.content .wrapper {
    margin: 0px auto;
    width: 1190px;
    padding: 10px 0px;
    display: flex;
}

.menu-box {
    width: 190px;
    background: #ffffff;
    position: relative;
    padding: 10px 0px;
    margin-right: 10px;
}

.menu-box ul li {
    height: 25px;
    line-height: 25px;
    padding: 0px 12px;
    overflow: hidden;
}

.menu-box ul li:hover {
    background: #d9d9d9;
}

.menu-box ul li a {
    color: #333333;
    text-decoration: none;
}

.menu-box ul li a:hover {
    color: #e1251b;
}

.menu-box .sub-menu {
    position: absolute;
    top: 0px;
    left: 190px;
    background: #ffffff;
    z-index: 10;
    width: 900px;
    padding: 10px 20px 20px 20px;
    font-size: 12px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    display: none;
}


/* .menu-box ul li:hover .sub-menu {
    display: block;
} */


/* 通过js控制 */

.menu-box .sub-menu.active {
    display: block;
}


/* .menu-box ul li.active {
    display: block;
} */

.sub-menu .left-box {
    float: left;
    max-width: 700px;
}

.sub-menu .right-box {
    float: right;
    width: 160px;
}

.sub-menu .pic-box {
    margin: 0px 0px 10px 0px;
}

.sub-menu .pic-box:last-child {
    margin: 0px;
}

.sub-menu .menu-title {
    margin: 10px 0px 10px 0px;
}

.sub-menu .menu-title .item {
    display: inline-block;
    background: #333333;
    padding: 0px 8px;
    margin: 0px 10px 0px 0px;
    color: #ffffff;
}

.sub-menu .menu-title .item:hover {
    background: #e1251b;
}

.sub-menu dl {
    display: flex;
}

.sub-menu dt {
    font-weight: bold;
    width: 70px;
    text-align: right;
    flex-shrink: 0;
}

.sub-menu dd a {
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
}

.slider-box {
    margin-right: 10px;
}

.slider-box .slider {
    width: 590px;
    height: 470px;
    position: relative;
    overflow: hidden;
}

.slider-box .slider ul {
    position: absolute;
    top: 0px;
    /* 轮播图用 */
    left: -590px;
    width: 500%;
    height: 100%;
}

.slider-box .slider ul li {
    float: left;
}

.slider-box .left-box {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 50px;
    height: 50px;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-box .right-box {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 50px;
    height: 50px;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-box .left-box,
.right-box span {
    font-size: 24px;
}

.slider-box .index-box {
    position: absolute;
    bottom: 3%;
    left: 10%;
}


/* 
">"表示直系的
" " 表示所有后代  
*/

.slider-box .index-box>ol {
    height: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}

.slider-box .index-box>ol>li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    list-style: none;
    cursor: pointer;
}

.slider-box .index-box>ol>li.active {
    background: #e1251b;
}

.wrapper .ad-box {
    width: 190px;
    margin-right: 10px;
    position: relative;
}

.wrapper .ad-box .slider {
    width: 190px;
    position: relative;
    overflow: hidden;
    height: 470px;
}

.wrapper .ad-box .slider ul {
    position: absolute;
    top: 0px;
    /* 轮播图用 */
    width: -190px;
}

.wrapper .ad-box .slider ul li {
    float: left;
}

.wrapper .ad-box .pic-box:not(:last-child) {
    height: 150px;
    margin-bottom: 10px;
}

.wrapper .ad-box .left-box {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 50px;
    height: 50px;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wrapper .ad-box .right-box {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 50px;
    height: 50px;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wrapper .ad-box .left-box,
.right-box span {
    font-size: 24px;
}

.new-box {
    width: 190px;
    margin-right: 10px;
    overflow: hidden;
    background: white;
    position: relative;
}

.new-box a {
    font-size: 12px;
    color: #666666;
    text-decoration: none;
}

.new-box .user-box {
    width: 100%;
}

.new-box .user-box .user-layout {
    display: flex;
    left: 50%;
    width: 100%;
    padding: 10px 0px 10px 10px;
}

.new-box .user-box .logo {
    background: #e1251b;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.new-box .user-box .user-avatar {
    margin-left: 10px;
}

.new-box .user-box .user_show {
    margin-left: 10px;
}

.new-box .user-vip {
    width: 100%;
    left: 50%;
    height: 25px;
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.new-box .user-vip .user-new {
    background: #e1251b;
    margin: 0px 5px;
}

.new-box .user-vip .user-plus {
    background: #666;
    margin: 0px 5px;
    color: #e5d790;
}

.new-box .user-vip a {
    text-decoration: none;
    color: white;
    width: 70px;
    padding-top: 3px;
    text-align: center;
    font-size: 12px;
    border-radius: 40px;
}

.new-box .user-vip a:hover {
    background: #c81623;
    color: white;
}

.new-box .news_tit_box {
    margin: 0px 10px;
    overflow: hidden;
    padding-top: 40px;
}

.new-box .news_tit_box .new-title {
    margin-bottom: 4px;
}

.new-box .news_tit_box ul li {
    padding: 4px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new-box .news_tit_box ul li span {
    color: #e1251b;
    display: inline-block;
    background: rgba(255, 0, 0, 0.1);
    position: relative;
    height: 16px;
    width: 35px;
    font-size: 12px;
    vertical-align: 0px;
    text-align: center;
}

.new-box .news_tit_box ul li a:hover {
    color: #e1251b;
}

.new-box .others-box {
    width: 190px;
    margin-top: 10px;
}

.new-box .others-box .others-line {
    display: flex;
    justify-content: space-between;
    width: 190px;
}

.new-box .others-box .others-line ul {
    width: 100%;
    margin-bottom: 5px;
}

.new-box .others-box .others-line ul li {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.new-box .others-box img {
    width: 28px;
    height: 28px;
}

.new-box .others-box a:hover {
    color: #e1251b;
}