.act-1212 {
    width: 100%;
    height: 80px;
    background: #f25c0b;
}

.act-1212 img {
    display: block;
    margin: 0px auto;
}

#mallPage {
    background-image: url("https://img.alicdn.com/tfs/TB1ymTusLzO3e4jSZFxXXaP_FXa-1702-1356.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.nav-box {
    background: #f2f2f2;
    height: 40px !important;
    border-bottom-color: transparent !important;
    position: relative!important;
    z-index: 99999;
    width: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.30);
}

.nav-box .nav {
    width: 1230px;
    margin: 0px auto;
    height: 100%;
}

.nav-box .nav .left {
    float: left;
    height: 32px;
}

.nav-box .nav .left span {
    font-size: 12px;
    line-height: 32px;
    padding: 0 10px;
    color: #999;
}

.nav-box .nav .quick-menu {
    float: right;
}

.nav-box .nav .quick-menu li {
    float: left;
    height: 40px;
    z-index: 93110;
}

.nav-box .nav .quick-menu .sn-sepatator {
    width: 0px;
    height: 14px;
    position: relative;
    line-height: 14px;
    font-size: 0px;
    vertical-align: top;
    top: 9px;
    border-left: 1px solid #ccc;
    margin: 0 2px 0 5px;
}

.nav-box .nav .quick-menu li span {
    color: #FF0036;
    line-height: 32px;
    margin-right: 2px;
    font-size: 12px;
}

.nav-box .nav a {
    font-size: 12px;
    line-height: 32px;
    padding: 0 10px;
    color: #999;
}

.nav-box .nav a:hover {
    color: #FF0036;
}

.nav-box .nav .menu-bd {
    visibility: hidden;
    display: block;
    float: none;
    background: white;
    position: absolute;
    z-index: 100000;
}

.nav-box .nav .menu-bd ul li {
    display: block;
    float: none;
}

.nav-box .nav .menu-item:hover {
    background: white;
}

.nav-box .nav .menu-item:hover a {
    text-decoration: underline;
}

.nav-box .nav .menu-item:hover .menu-bd {
    visibility: visible;
}

.nav-box .nav .sn-sitemap:hover {
    background: white;
}

.nav-box .nav .sn-sitemap a:hover {
    color: #999;
}

.nav-box .nav .sn-seller .menu-bd {
    width: 122px;
    overflow: hidden;
    /* right: 0; */
    left: auto;
}

.nav-box .nav .sn-seller ul {
    width: 122px;
    margin-top: -5px;
    display: block;
}

.nav-box .nav .sn-seller li {
    float: none;
    padding: 5px 0;
    height: auto;
    display: block;
    margin-right: -20px;
    border-bottom: 1px dotted #827777;
}

.nav-box .nav .sn-seller p {
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
}

.nav-box .nav .sn-seller a {
    padding: 0 5px;
}


/* header 部分开始 */

.header-box {
    min-width: 990px;
    height: 130px;
    margin-bottom: 0;
}

.header-box .header {
    width: 1230px;
    margin: 0 auto;
}

.header-box .search-box {
    width: 625px;
    margin-top: 38px;
    right: 50%;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    transform: translateX(50%);
}

.header-box .search-box form input {
    width: 491px;
    border: none;
    border-width: 1.5px 0 1.5px 1.5px;
    border-color: red;
    border-style: solid;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    background: white;
    outline: none;
    text-indent: 5px;
}

.header-box .search-box button {
    width: 132px;
    height: 100%;
    cursor: pointer;
    border: 0;
    top: 0;
    font-size: 18px;
    position: absolute;
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
    background: #FF0036;
}

.content .main-nav {
    width: 1230px;
    height: 36px;
    margin: 0px auto;
    padding-right: 30px;
}

.content .inner-box {
    width: 1030px;
    margin-left: 200px;
    background-color: white;
    border-style: solid;
    border-width: 0px 0px 1.5px;
    border-color: #FF0036;
    height: 34.5px;
}

.content .main-nav a {
    float: left;
    font-weight: 500;
    color: #333;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    word-spacing: normal;
    letter-spacing: normal;
    position: relative;
    padding: 0 8px;
    display: block;
}

.content .main-nav a:hover {
    color: #DD2727;
}

.content .main-nav a img {
    width: 100px;
    height: 30px;
    display: block;
    margin-top: 3px;
}

.content .category-box {
    width: 1230px;
    padding-right: 30px;
    position: relative;
    height: 0;
    z-index: 100;
    margin: 0 auto;
}

.content .category-box .logo {
    height: 130px;
    width: 290px;
    position: absolute;
    z-index: 100000;
    margin-top: -167px;
    margin-left: -45px;
}

.content .category-box .category-tab-nav {
    position: absolute;
    z-index: 100;
    margin-top: -36px;
    height: 36px;
    width: 200px;
    color: #fff;
    line-height: 36px;
}

.content .category-box .category-tab-nav li {
    float: left;
    width: 100px;
    text-align: center;
    font-size: 14px;
    color: #f0f0f0;
    cursor: pointer;
    background-color: #C60A0A;
}

.content .category-box .category-tab-nav .tab1.active {
    background: rgba(238, 238, 238, .95);
    color: #DD2727;
}

.content .category-box .category-tab-nav .tab2 {
    color: #ffe013;
    background-color: #C60A0A;
}

.content .category-box .category-tab-nav .tab2.active {
    color: #fff;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAAA1BMVEUYFRXvJ83tAAAAAXRSTlPM0jRW/QAAAApJREFUCNdjAAIAAAQAASDSLW8AAAAASUVORK5CYII=);
}


/* 中间导航菜单*/

.content .menu-box {
    display: flex;
    z-index: 100;
}

.content .menu-box .nav-con {
    width: 200px;
}

.content .menu-box .nav-con ul {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAAA1BMVEUYFRXvJ83tAAAAAXRSTlPM0jRW/QAAAApJREFUCNdjAAIAAAQAASDSLW8AAAAASUVORK5CYII=);
}

.content .menu-box span {
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
}

.content .menu-box .nav-con {
    display: none;
}

.content .menu-box .nav-con.active {
    display: block;
}

.content .menu-box .nav-con ul {
    height: 500px;
}

.content .menu-box .nav-con li {
    position: relative;
    height: 31.2px;
    line-height: 31.2px;
    color: #fff;
    font-size: 14px;
}

.content .menu-box .nav-con li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    height: 31px;
}

.content .menu-box .menu-normal li:hover {
    background: white;
    color: #e54077;
}

.content .menu-box .menu-normal li:hover a {
    background: white;
    color: #e54077;
    font-weight: bold;
}

.content .menu-box .menu-metting ul {
    box-sizing: border-box;
    padding: 29px 24px 0 24px;
}

.content .menu-box .menu-metting li {
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 14px;
    border: 1px solid #cb0c10;
    height: 31.2px;
    border-radius: 5px;
    line-height: 31.2px;
}

.content .menu-box .menu-metting li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    line-height: 31px;
    height: 31px;
}

.content .menu-box .menu-metting span {
    margin-left: 0px;
}

.content .menu-box .menu-metting li:hover {
    background: #cb0c10;
}

.content .menu-box .menu-metting li:hover a {
    font-weight: bold;
}


/* 弹出的菜单子项 */

.content .menu-box .menu-detail {
    /* background-color: #FAFAFA; */
    background-color: #fff;
}

.content .menu-box .menu-detail .menu-detail-item {
    width: 852px;
    height: 500px;
    display: none;
    overflow: hidden;
}

.content .menu-box .menu-detail .menu-detail-item.active {
    display: flex;
}

.content .menu-box .menu-detail .menu-detail-item .left-box {
    width: 583px;
    height: 462px;
    margin: 19px 30px;
    overflow: hidden;
}

.content .menu-box .menu-detail .menu-detail-item dl {
    display: flex;
}

.content .menu-box .menu-detail .menu-detail-item dt {
    width: 60px;
    color: #333;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    height: 22px;
    float: left;
    text-align-last: justify;
}

.content .menu-box .menu-detail .menu-detail-item dd {
    margin-left: 13px;
    width: 493px;
    float: left;
}

.content .menu-box .menu-detail .menu-detail-item dd a {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #666;
    float: left;
    margin-left: 13px;
}

.content .menu-box .menu-detail .seprate {
    margin-bottom: 10.5px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    /* border-bottom-color: #eee; */
    border-bottom-color: rgba(0, 0, 0, .1);
    height: 10.5px;
}

.content .menu-box .menu-detail .menu-detail-item dd a.highlight {
    color: #e54077!important;
}

.content .menu-box .menu-detail .menu-detail-item dd a:hover {
    color: #e54077!important;
}

.content .menu-box .menu-detail .menu-detail-item .right-box {
    float: left;
    background-color: #FAFAFA;
    width: 189px;
    padding: 10px;
    height: 480px;
}

.content .menu-box .menu-detail .menu-detail-item .right-box .pic-box {
    width: 189px;
    height: 97px;
    margin-bottom: 10px;
}


/*  轮播广告 */

.slider-box {
    height: 500px;
    padding-right: 30px;
}

.slider-box .slider {
    width: 1230px;
    height: 100%;
    margin: 0px auto;
    background: url(data:image/gif;base64,R0lGODlhyQBjANUAAFtbWvdXSaioqM7PzlNTHn19fPj394R3SSgjF…IpZgEhouEBjn4iGCh39D2IJkyHckkfi4vGKAB95VUapZY6UmDLpZWW96ifWnSaBKBOHhEEADs=) center center no-repeat #e5e5e5!important;
    position: relative;
}

.slider-box .slider-item-box {
    display: flex;
    overflow: hidden;
}

.content .activity-bg {
    height: 1356px;
}