.container {
    background-color: #eee;
}

.act-1212 {
    width: 100%;
    height: 80px;
    background: #f25c0b;
    display: none;
}

.act-1212 img {
    display: block;
    margin: 0px auto;
}


/* #mallPage {
    background-image: url("https://img.alicdn.com/tfs/TB1ymTusLzO3e4jSZFxXXaP_FXa-1702-1356.png");
    background-repeat: no-repeat;
    background-position: center top;
} */

#mallpage {
    background-color: #eee;
}

.nav-box {
    background: #f2f2f2;
    /* height: 40px !important; */
    height: 32px;
    border-bottom-color: transparent !important;
    position: relative!important;
    z-index: 99999;
    width: auto;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.30); */
}

.nav-box .nav {
    width: 1230px;
    margin: 0px auto;
    height: 100%;
    position: relative;
    left: -15px;
}

.nav-box .nav .left {
    float: left;
    height: 32px;
}

.nav-box .nav .left span {
    font-size: 12px;
    line-height: 32px;
    padding-right: 10px;
    color: #999;
}

.nav-box .nav .quick-menu {
    float: right;
}

.nav-box .nav .quick-menu li {
    float: left;
    z-index: 93110;
}

.nav-box .nav .quick-menu .sn-sepatator {
    width: 0px;
    height: 14px;
    position: relative;
    line-height: 14px;
    font-size: 0px;
    vertical-align: top;
    top: 9px;
    border-left: 1px solid #ccc;
    margin: 0 2px 0 5px;
}

.nav-box .nav .quick-menu li span {
    color: #FF0036;
    line-height: 32px;
    margin-right: 2px;
    font-size: 12px;
}

.nav-box .nav a {
    font-size: 12px;
    line-height: 32px;
    padding: 0 10px;
    color: #999;
}

.nav-box .nav a:hover {
    color: #FF0036;
}

.nav-box .nav .menu-bd {
    visibility: hidden;
    display: block;
    float: none;
    background: white;
    position: absolute;
    z-index: 100000;
}

.nav-box .nav .menu-bd ul li {
    display: block;
    float: none;
}

.nav-box .nav .menu-item:hover {
    background: white;
}

.nav-box .nav .menu-item:hover a {
    text-decoration: underline;
}

.nav-box .nav .menu-item:hover .menu-bd {
    visibility: visible;
}

.nav-box .nav .sn-sitemap:hover {
    background: white;
}

.nav-box .nav .sn-sitemap a:hover {
    color: #999;
}

.nav-box .nav .sn-seller .menu-bd {
    width: 122px;
    overflow: hidden;
    /* right: 0; */
    left: auto;
}

.nav-box .nav .sn-seller ul {
    width: 122px;
    margin-top: -5px;
    display: block;
}

.nav-box .nav .sn-seller li {
    float: none;
    padding: 5px 0;
    height: auto;
    display: block;
    margin-right: -20px;
    border-bottom: 1px dotted #827777;
}

.nav-box .nav .sn-seller p {
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
}

.nav-box .nav .sn-seller a {
    padding: 0 5px;
}


/* header 部分开始 */

.header-box {
    min-width: 990px;
    height: 130px;
    margin-bottom: 0;
    background-color: #fff;
}

.header-box .header {
    width: 1230px;
    margin: 0 auto;
}

.header-box .search-box {
    width: 625px;
    margin-top: 38px;
    right: 50%;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    transform: translateX(50%);
}

.header-box .search-box form input {
    width: 491px;
    border: none;
    border-width: 1.5px 0 1.5px 1.5px;
    border-color: red;
    border-style: solid;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    background: white;
    outline: none;
    text-indent: 5px;
}

.header-box .search-box button {
    width: 132px;
    height: 100%;
    cursor: pointer;
    border: 0;
    top: 0;
    font-size: 18px;
    position: absolute;
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
    background: #FF0036;
}

.content .main-nav-wrapper {
    border-style: solid;
    border-width: 0px 0px 1.5px;
    border-color: #FF0036;
    background-color: #fff;
}

.content .main-nav-wrapper .main-nav {
    width: 1230px;
    height: 36px;
    margin: 0px auto;
    padding-right: 30px;
}

.content .inner-box {
    width: 1030px;
    margin-left: 200px;
    height: 35px;
}

.content .main-nav-wrapper .main-nav a {
    float: left;
    font-weight: 500;
    color: #333;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    word-spacing: normal;
    letter-spacing: normal;
    position: relative;
    padding: 0 8px;
    display: block;
    padding-top: 1px;
}

.content .main-nav-wrapper .main-nav a:hover {
    color: #FF0036;
}

.content .main-nav-wrapper .main-nav a img {
    width: 100px;
    height: 30px;
    display: block;
    margin-top: 3px;
    bottom: 0px;
}

.content .category-box {
    width: 1230px;
    padding-right: 30px;
    position: relative;
    height: 0;
    z-index: 100;
    margin: 0 auto;
}

.content .category-box .logo {
    height: 130px;
    width: 290px;
    position: absolute;
    z-index: 100000;
    margin-top: -167px;
    margin-left: -45px;
}

.content .category-box .category-tab-nav {
    position: absolute;
    float: left;
    z-index: 100;
    margin-top: -36px;
    height: 36px;
    width: 200px;
    color: #fff;
    line-height: 36px;
    background-color: #FF0036;
}


/* .content .category-box .category-tab-nav li {
    float: left;
    width: 100px;
    text-align: center;
    font-size: 14px;
    color: #f0f0f0;
    cursor: pointer;
    background-color: #C60A0A;
}

.content .category-box .category-tab-nav .tab1.active {
    background: rgba(238, 238, 238, .95);
    color: #DD2727;
} */

.content .category-box .category-tab-nav span {
    float: left;
    font-size: 16px;
    color: #fff;
    cursor: auto;
    font-weight: bold;
    padding-left: 38px;
}


/* .content .category-box .category-tab-nav .tab2 {
    color: #ffe013;
    background-color: #C60A0A;
}

.content .category-box .category-tab-nav .tab2.active {
    color: #fff;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAAA1BMVEUYFRXvJ83tAAAAAXRSTlPM0jRW/QAAAApJREFUCNdjAAIAAAQAASDSLW8AAAAASUVORK5CYII=);
} */


/* 中间导航菜单*/

.content .menu-box {
    display: flex;
    z-index: 100;
    height: 0;
}

.content .menu-box .nav-con {
    width: 200px;
}

.content .menu-box .nav-con ul {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAAA1BMVEUYFRXvJ83tAAAAAXRSTlPM0jRW/QAAAApJREFUCNdjAAIAAAQAASDSLW8AAAAASUVORK5CYII=);
}

.content .menu-box span {
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
}

.content .menu-box .nav-con {
    display: none;
}

.content .menu-box .nav-con.active {
    display: block;
}

.content .menu-box .nav-con ul {
    height: 500px;
}

.content .menu-box .nav-con li {
    position: relative;
    height: 31.2px;
    line-height: 31.2px;
    color: #fff;
    font-size: 14px;
}

.content .menu-box .nav-con li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    height: 31px;
}

.content .menu-box .menu-normal li:hover {
    background: white;
    color: #e54077;
}

.content .menu-box .menu-normal li:hover a {
    background: white;
    color: #e54077;
    font-weight: bold;
}

.content .menu-box .menu-metting ul {
    box-sizing: border-box;
    padding: 29px 24px 0 24px;
}

.content .menu-box .menu-metting li {
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 14px;
    border: 1px solid #cb0c10;
    height: 31.2px;
    border-radius: 5px;
    line-height: 31.2px;
}

.content .menu-box .menu-metting li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    line-height: 31px;
    height: 31px;
}

.content .menu-box .menu-metting span {
    margin-left: 0px;
}

.content .menu-box .menu-metting li:hover {
    background: #cb0c10;
}

.content .menu-box .menu-metting li:hover a {
    font-weight: bold;
}


/* 弹出的菜单子项 */

.content .menu-box .menu-detail .menu-detail-item {
    width: 852px;
    height: 500px;
    display: none;
    overflow: hidden;
    background: #fff;
}

.content .menu-box .menu-detail .menu-detail-item.active {
    display: flex;
}

.content .menu-box .menu-detail .menu-detail-item .left-box {
    width: 583px;
    height: 462px;
    margin: 19px 30px;
    overflow: hidden;
}

.content .menu-box .menu-detail .menu-detail-item dl {
    display: flex;
}

.content .menu-box .menu-detail .menu-detail-item dt {
    width: 60px;
    color: #333;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    height: 22px;
    float: left;
    text-align-last: justify;
}

.content .menu-box .menu-detail .menu-detail-item dd {
    margin-left: 13px;
    width: 493px;
    float: left;
}

.content .menu-box .menu-detail .menu-detail-item dd a {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #666;
    float: left;
    margin-left: 13px;
}

.content .menu-box .menu-detail .seprate {
    margin-bottom: 10.5px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    /* border-bottom-color: #eee; */
    border-bottom-color: rgba(0, 0, 0, .1);
    height: 10.5px;
}

.content .menu-box .menu-detail .menu-detail-item dd a.highlight {
    color: #e54077!important;
}

.content .menu-box .menu-detail .menu-detail-item dd a:hover {
    color: #e54077!important;
}

.content .menu-box .menu-detail .menu-detail-item .right-box {
    float: left;
    background-color: #FAFAFA;
    width: 189px;
    padding: 10px;
    height: 480px;
}

.content .menu-box .menu-detail .menu-detail-item .right-box .pic-box {
    width: 189px;
    height: 97px;
    margin-bottom: 10px;
}


/*  轮播广告 */

.slider-box {
    height: 500px;
    padding-right: 30px;
}

.slider-box .slider {
    width: 1230px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

.slider-box .slider-item-box {
    position: absolute;
}

.slider-box .slider-item-box a {
    float: left;
    width: 1230px;
}

.slider-box .slider-index {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.slider-box .slider-index>ol {
    height: 5px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.slider-box .slider-index>ol>li {
    width: 25px;
    height: 5px;
    float: left;
    margin-left: 5px;
    background: #000;
    list-style: none;
    opacity: .3;
    cursor: pointer;
}

.slider-box .slider-index>ol>li.active {
    background: #fff;
    opacity: 1;
}


/* 品牌墙 */


/* .content .activity-bg {
    background-color: #eee;
} */

.content .activity-bg .brand-wall-box {
    margin: auto;
    padding-top: 24px;
    width: 1230px;
    padding-right: 30px;
}

.activity-bg .brand-wall-box .brand-wall {
    display: flex;
}

.activity-bg .brand-wall-box .brand-wall .brand-wall-item {
    height: 370px;
}

.activity-bg .brand-wall-box .brand-wall .brand-wall-item-header {
    height: 54px;
    width: 100%;
    background: #fff;
    font-size: 0;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #eee;
    position: relative;
}

.activity-bg .brand-wall-box .brand-wall-item-header .cn {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 55px;
    height: 55px;
    margin-left: 10px;
}

.activity-bg .brand-wall-box .brand-wall-item-header .en {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
    line-height: 55px;
    height: 55px;
}

.activity-bg .brand-wall-box .brand-wall-item-header .more {
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 17px;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    color: rgb(200, 200, 200);
    right: 0px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    margin-right: 14px;
    margin-top: 19px;
    border-width: 1px;
    text-align: center;
}

.activity-bg .brand-wall-box .brand-wall-item-header .moretext {
    height: 55px;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    color: rgb(200, 200, 200);
    right: 0px;
    margin-right: 44px;
    text-align: center;
    line-height: 55px;
}

.activity-bg .brand-wall-box .brand-wall .brand-wall-item-content {
    height: 316px;
    width: 100%;
}


/* 品牌列表 */

.activity-bg .brand-box {
    margin: 15px auto 0;
    width: 1230px;
    padding-right: 30px;
    position: relative;
}


/* 商品类别集合 */

.activity-bg .floor-type-list {
    margin: 20px auto 0;
    width: 1230px;
    padding-right: 30px;
}

.activity-bg .floor-type-list .floor-type-item {
    margin-top: 20px;
    width: 100%;
    height: 665px;
    position: relative;
}

.activity-bg .floor-type-list .floor-type-item .floor-type-img {
    vertical-align: middle;
    width: 214px;
    height: 25px;
}

.activity-bg .floor-type-list .floor-type-item .floor-type-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #000;
    height: 28px;
}

.activity-bg .floor-type-list .floor-type-item .floor-type-title .title {
    font-size: 18px;
    height: 28px;
    line-height: 28px;
}

.activity-bg .floor-type-list .floor-type-item .floor-type-title .subtitle {
    display: inline-block;
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 28px;
    height: 28px;
}

.activity-bg .floor-type-list .floor-type-item .floor-type-goods {
    display: flex;
    width: 100%;
    height: 618px;
    margin-top: 10px;
    overflow: hidden;
}

.activity-bg .floor-type-list .big-banner {
    width: 235px;
    height: 618px;
}

.activity-bg .floor-type-list .big-banner img {
    display: block;
    width: 235px;
    height: 618px;
}

.activity-bg .floor-type-list .big-banner-title {
    position: absolute;
    vertical-align: middle;
    bottom: 20%;
    width: 218px;
    height: 64px;
}

.activity-bg .floor-type-list .big-banner-title .title-left {
    background: rgba(0, 0, 0, .9);
    width: 70px;
    height: 64px;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.activity-bg .floor-type-list .big-banner-title .title-left span {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-size: 18px;
    width: 36px;
    overflow: hidden;
}

.activity-bg .floor-type-list .big-banner-title .title-right {
    left: 70px;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    overflow: hidden;
    width: 128px;
    height: 64px;
    color: #FFF;
    vertical-align: middle;
    padding-top: 8px;
    padding-left: 14px;
}

.activity-bg .floor-type-list .big-banner-title .title-right span {
    display: block;
    line-height: 24px;
    font-size: 18px;
}

.activity-bg .floor-type-list .big-banner-go {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, .36) 100%);
    width: 235px;
    height: 60px;
    position: absolute;
    bottom: 12px;
    left: 0;
}

.activity-bg .floor-type-list .big-banner-go img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
}

.activity-bg .floor-type-list .floor-type-goods-list {
    display: flex;
    justify-content: space-between;
    width: 995px;
    flex-wrap: wrap;
    height: 618px;
    margin-left: 8px;
}

.activity-bg .floor-type-list .floor-type-goods-list .item {
    width: 236px;
    height: 302px;
    background: #fff;
    margin: auto;
}

.activity-bg .floor-type-list .floor-type-goods-list .item img {
    display: block;
    margin: 0px auto;
    padding-top: 20px;
}

.activity-bg .floor-type-list .floor-type-goods-list .item .iteminfo {
    display: block;
    padding: 0px 12px;
    text-align: center;
}

.activity-bg .floor-type-list .floor-type-goods-list .item .iteminfo .des {
    margin: 8px auto;
    display: block;
    width: 135px;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #000;
}

.activity-bg .floor-type-list .floor-type-goods-list .item .iteminfo .price {
    line-height: 32px;
    color: #ff0036;
    font-size: 18px;
}

.activity-bg .floor-type-list .floor-type-banner {
    height: 90px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.activity-bg .floor-type-list .floor-type-banner img {
    width: 1620px;
    height: 90px;
    margin-left: -165px;
}


/* 猜你喜欢 */

.activity-bg .recommnd-title {
    margin: 0 auto;
    width: 1230px;
    padding-right: 30px;
}

.activity-bg .recommnd-title h2 {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    color: #666;
    line-height: 20px;
    font-family: 'Microsoft YaHei', SimSun, sans-serif;
}

.activity-bg .recommnd {
    padding-right: 30px;
    width: 1230px;
    margin: 30px auto 0;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity-bg .recommnd .recommnd-item {
    background: #fff;
    width: 235px;
    height: 326px;
    margin-bottom: 12px;
}

.activity-bg .recommnd .recommnd-item img {
    display: block;
    margin: 0px auto;
    padding-top: 20px;
}

.activity-bg .recommnd .recommnd-item .iteminfo {
    display: block;
    padding: 14px 12px 8px;
    text-align: center;
}

.activity-bg .recommnd .recommnd-item .iteminfo .des {
    margin: 8px auto;
    display: block;
    width: 135px;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #000;
}

.activity-bg .recommnd .recommnd-item .iteminfo .price {
    line-height: 32px;
    color: #ff0036;
    font-size: 18px;
}


/* end */

.goods-list-end {
    width: 80px;
    height: 45px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.footer {
    background-color: #fff;
}

.footer .ensure {
    width: 1190px;
    height: 100px;
    background: url(//img.alicdn.com/tfs/TB14dANRXXXXXbdXXXXXXXXXXXX-1190-100.jpg) no-repeat;
    margin: 25px auto;
    padding: 0;
    padding-right: 30px;
}

.footer .tmail-desc {
    width: 1190px;
    padding-top: 22px;
    height: 190px;
    margin: auto;
    border-top: 1px solid #ededed;
    background-image: url(//img.alicdn.com/tfs/TB1dl28RXXXXXbzaFXXXXXXXXXX-136-50.png);
    background-repeat: no-repeat;
    background-size: 68px 25px;
    background-position: 52px bottom;
}

.footer .tmail-desc .desc-item {
    width: 186px;
    padding-left: 52px;
    float: left;
}

.footer .tmail-desc .desc-item .desc-title {
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.footer .tmail-desc .desc-item .items .item {
    display: block;
    width: 100px;
    line-height: 20px;
    color: #8b8b8b;
    font-size: 12px;
}

.footer .copyright {
    background: #000;
    text-align: left;
    min-height: 177px;
    border-top: 2px solid #FF0036;
    display: block;
}

.footer .copyright .tmail-info {
    width: 1190px;
    margin: 0 auto;
    display: flex;
}

.footer .copyright .other-link {
    width: 1190px;
    margin: 0 auto;
    display: flex;
}

.footer .copyright a {
    margin-right: 3px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    line-height: 25px;
    padding: 5px;
}